@import 'node_modules/aos/src/sass/aos.scss';

:root {
  --c-main: #FFFF;
  --c-alt: #A9F1DF;
  --c-theme: #1EAE98;
  --c-contrast: #233E8B;
  --c-accent: #D36582;
}

html, body {
  font-family: "Nunito", Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffff;
}
.main {
  background-image: url('../assets/pattern.svg');
}
body {  
  overflow-y: scroll;
  overflow-x: hidden;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 100vw 200vw;
  padding-top: 20px;
}
p {
  font-size: calc(.5vw + 10px);
  padding: 5%; 
}
h1 {
  font-size: calc(1.5vw + 20px);
  margin: 0;
}
h2{
  font-size: calc(1vw + 15px);
}
h3{
  font-size: calc(1vw + 25px);
}
nav {
  top: 20px;
  border-top: 3px solid #0001;
  align-items: center;
  position: static;
  z-index: 10;
}
a {
  text-decoration: none;
}
nav img {
  width: min(20%, 50px);
  height: auto;
}
nav>a {
  font-size: calc(1.5vw + 10px);
  font-weight: bold;
  border-radius: 5px;
  padding: 0 10px;
  color: var(--c-contrast);
  transition: color ease-in-out .2s;
  text-align: center;
}
nav>a:hover {
  color: var(--c-accent);
}
header {
  justify-content: space-evenly;
}
header a{
  padding: 2%;
  font-size: calc(1vw + 10px);
}
header>div {
  flex: 1 1 max(40%, 300px);
}
header>img {
  width: min(95%, 1000px);
  align-self: center;
  height: auto;
}
[app] img {
  width: min(90%, 500px);
  align-self: center;
  height: auto;
}
[NGC] img {
  width: min(90%, 400px);
  align-self: center;
  height: auto;
}
[team] img {
  width: min(90%, 900px);
  align-self: center;
  height: auto;
}
[brand] img {
  width: min(90%, 400px);
  align-self: center;
  height: auto;
}
[flow]>div,[NGC]>div {
  flex: 1 1 300px;
  text-align: center;
  border-radius: 15px;
  min-height: 150px;
}
[bg] {
  background: var(--c-main);
}
[textLogo] {
  padding-top: 15px;
  text-align: center;
}
[return-btn] {
  position: sticky;
  top: 5vmin;
  left: 25px;
  background: #fff;
  border: 50%;
  text-decoration: none;
  color: black;
}
footer p{
  padding: 0;
}
@media screen and (max-width: 1250px) {
  nav {
    flex-direction: column;
  }
}